
SAVED MODEL BAGUS KALAU MAU PAKE GANTI NAMA JD saved_models/pretrained/resnet152-b121ed2d.pth
SAVED MODEL BAGUS KALAU MAU PAKE GANTI NAMA JD saved_models/pretrained/TPS-ResNet-BiLSTM-CTC.pth
SAVED MODEL BAGUS KALAU MAU PAKE GANTI NAMA JD saved_models/Test_pretrained/best_accuracy copy.pth
SAVED MODEL BAGUS KALAU MAU PAKE GANTI NAMA JD saved_models/Test_pretrained/best_accuracy.pth
SAVED MODEL BAGUS KALAU MAU PAKE GANTI NAMA JD saved_models/Test_pretrained/best_norm_ED.pth
SAVED MODEL BAGUS KALAU MAU PAKE GANTI NAMA JD saved_models/Test_pretrained/log_dataset.txt
SAVED MODEL BAGUS KALAU MAU PAKE GANTI NAMA JD saved_models/Test_pretrained/log_train.txt
SAVED MODEL BAGUS KALAU MAU PAKE GANTI NAMA JD saved_models/Test_pretrained/opt.txt
saved_models ini drmn anjay/Test_pretrained ini drmn anjay/log_dataset.txt
saved_models yos/pretrained/resnet18-5c106cde.pth
saved_models yos/pretrained/resnet34-333f7ec4.pth
saved_models yos/pretrained/TPS-ResNet-BiLSTM-CTC.pth
saved_models yos/Test_pretrained/best_accuracy copy.pth
saved_models yos/Test_pretrained/best_accuracy.pth
saved_models yos/Test_pretrained/best_norm_ED.pth
saved_models yos/Test_pretrained/log_dataset.txt
saved_models yos/Test_pretrained/log_train.txt
saved_models yos/Test_pretrained/opt.txt
saved_models/pretrained/resnet152-b121ed2d.pth
saved_models/pretrained/TPS-ResNet-BiLSTM-CTC.pth
saved_models/Test_pretrained/best_accuracy copy.pth
saved_models/Test_pretrained/best_accuracy.pth
saved_models/Test_pretrained/best_norm_ED.pth
saved_models/Test_pretrained/log_dataset.txt
saved_models/Test_pretrained/log_train.txt
saved_models/Test_pretrained/opt.txt
saved_models1/pretrained/TPS-ResNet-BiLSTM-CTC.pth
saved_models1/Test_pretrained/best_accuracy copy.pth
saved_models1/Test_pretrained/best_accuracy.pth
saved_models1/Test_pretrained/best_norm_ED.pth
saved_models1/Test_pretrained/log_dataset.txt
saved_models1/Test_pretrained/log_train.txt
saved_models1/Test_pretrained/opt.txt
